@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutGestionnaire";
    ViewBag.Title = "";
}
@using GestionRelationClient.Models
@{
    List<Produit> produits = ViewData["ProduitsAssocies"] as List<Produit>;
    List<Service> services = ViewData["Services"] as List<Service>;
}

@model GestionRelationClient.Models.Gestionnaire

<div class="interfaceGestionnaire">
    <h2>Bienvenue @Model.NomGestionnaire</h2>

    <div class="lists">
        <!-- Liste des clients associés -->
        <div class="clientsListe">
            @foreach (GestionRelationClient.Models.Client client in Model.ClientsAssocies)
            {
                @using (Html.BeginForm("SuppressionClientAssocie", "Gestionnaire", FormMethod.Post))
                {
                    <div class="formSelectionClient">
                        @Html.Hidden("IdClient", client.UtilisateurId)
                        <partial name="_Client" model=client />
                        <button type="submit" class="btn"><img src="~/img/moins.png" alt="Désassocier ce compte" /></button>
                    </div>
                }

            }
        </div>

        <!-- Liste des produits associés -->
        <div class="clientsListe">
            @foreach (GestionRelationClient.Models.Produit produit in produits)
            {
                @using (Html.BeginForm("SuppressionProduit", "Gestionnaire", FormMethod.Post))
                {
                    <div class="formSelectionClient">
                        @Html.Hidden("GestionnaireId", Model.UtilisateurId)
                        @Html.Hidden("ProduitId", produit.ArticleId)
                        <partial name="_ProduitSmall" model=produit />
                        <button type="submit" class="btn"><img src="~/img/moins.png" alt="Supprimer ce produit" /></button>
                    </div>
                }

            }
        </div>

        <!-- Liste des services -->
        <div class="clientsListe">
            @foreach (GestionRelationClient.Models.Service service in services)
            {
                @using (Html.BeginForm("SuppressionService", "Gestionnaire", FormMethod.Post))
                {
                    <div class="formSelectionClient">
                        @Html.Hidden("GestionnaireId", Model.UtilisateurId)
                        @Html.Hidden("ServiceId", service.ArticleId)
                        <partial name="_ServiceSmall" model=service />
                        <button type="submit" class="btn"><img src="~/img/moins.png" alt="Supprimer ce service" /></button>
                    </div>
                }

            }
        </div>
    </div>
    
</div>




