@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutClient";
    ViewBag.Title = "";
}
@using GestionRelationClient.Models
@{
    List<Article> panier = ViewData["Panier"] as List<Article>;
    List<Produit> produitsDisponibles = ViewData["Produit"] as List<Produit>;
    List<Service> servicesDisponibles = ViewData["Service"] as List<Service>;
}
<!-- From : https://www.completecsharptutorial.com/asp-net-mvc5/pass-data-using-viewbag-viewdata-and-tempdata-in-asp-net-mvc-5.php -->

@model GestionRelationClient.Models.Compte


<div class="interfaceGestionnaire">
    <div class="bienvenueInterfaceClient">
        <h2>Connecté sous @Model.NomCompte</h2>
        <div>
            <p>Total du panier : @ViewData["PrixTotal"] $</p>
            @using (Html.BeginForm("GenererFacture", "Client", FormMethod.Post))
            {
                @Html.Hidden("CompteId", Model.CompteId)
                <button type="submit" class="btn btn-primary">Générer une facture</button>
            }
            @if (ViewData["ErreurSolde"].ToString() == "True")
            {
                <p class="soldeTropBas">
                    <a asp-controller="Client" asp-action="SoldeClient" asp-route-CompteId="@Model.CompteId" role="button">Solde trop bas</a>
                </p>
            }
        </div>
    </div>

    <div class="rechercheString">
        @using (Html.BeginForm("InterfaceClient", "Client", FormMethod.Post))
        {
            @Html.Hidden("CompteId", Model.CompteId)
            <input type="text" name="StringRecherchee" class="form-control" placeholder="Recherche" />
            <button type="submit" class="btn"><img src="~/img/search.png" alt="Recherche" /></button>
        }
    </div>
    

    <div class="lists">

        <!-- Liste des articles dans le panier -->
        <div class="clientsListe">
            @foreach (GestionRelationClient.Models.Article article in panier)
            {
                <div class="formSelectionClient">

                    <a asp-controller="Client" asp-action="DetailsArticle" asp-route-CompteId="@Model.CompteId" asp-route-ArticleId="@article.ArticleId" role="button">
                        <partial name="_ArticleSmall" model="article" />
                    </a>
                    <div class="buttons">
                        <a asp-controller="Client" asp-action="OuvrirTicketSupport" asp-route-CompteId="@Model.CompteId" asp-route-ArticleId="@article.ArticleId" role="button">
                            <img src="~/img/error.png" alt="Ouvrir un ticket pour cet article" />
                        </a>
                        @using (Html.BeginForm("EnlevementPanierArticle", "Client", FormMethod.Post))
                        {
                            @Html.Hidden("CompteId", Model.CompteId)
                            @Html.Hidden("ArticleId", article.ArticleId)
                            <button type="submit" class="btn"><img src="~/img/moins.png" alt="Retirer cet article au panier" /></button>
                        }
                    </div>
                </div>

            }
        </div>


        <!-- Liste des produits disponible -->
        <div class="clientsListe">
            @foreach (GestionRelationClient.Models.Produit produit in produitsDisponibles)
            {
                <div class="formSelectionClient">
                    <a asp-controller="Client" asp-action="DetailsArticle" asp-route-CompteId="@Model.CompteId" asp-route-ArticleId="@produit.ArticleId" role="button">
                        <partial name="_ProduitSmall" model="produit" />
                    </a>
                    <div class="buttons">
                        @using (Html.BeginForm("AjoutPanierArticle", "Client", FormMethod.Post))
                        {
                            @Html.Hidden("CompteId", Model.CompteId)
                            @Html.Hidden("ArticleId", produit.ArticleId)
                            <button type="submit" class="btn"><img src="~/img/ajoutPanier.png" alt="Ajouter ce produit au panier" /></button>
                        }
                    </div>
                </div>

            }
        </div>

        <!-- Liste des services disponibles -->
        <div class="clientsListe">
            @foreach (GestionRelationClient.Models.Service service in servicesDisponibles)
            {
                <div class="formSelectionClient">
                    <a asp-controller="Client" asp-action="DetailsArticle" asp-route-CompteId="@Model.CompteId" asp-route-ArticleId="@service.ArticleId" role="button">
                        <partial name="_ServiceSmall" model="service" />
                    </a>
                    <div class="buttons">
                        @using (Html.BeginForm("AjoutPanierArticle", "Client", FormMethod.Post))
                        {
                            @Html.Hidden("CompteId", Model.CompteId)
                            @Html.Hidden("ArticleId", service.ArticleId)
                            <button type="submit" class="btn"><img src="~/img/ajoutPanier.png" alt="Ajouter ce service au panier" /></button>
                        }
                    </div>
                </div>

            }
        </div>
    </div>

</div>