@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>

    <!-- HEADER -->
    <nav>
        <a class="menuLink acceuil" asp-controller="Client" asp-action="ConnectClient" role="button">Accueil</a>
        <div class="menu">
            @model GestionRelationClient.Models.Administrateur
            <a class="menuLink" asp-controller="Administrateur" asp-action="InterfaceAdministrateur" asp-route-IdAdministrateur="@Model.UtilisateurId" role="button">Menu</a>
            <a class="menuLink" asp-controller="Administrateur" asp-action="AjoutClient" asp-route-IdAdministrateur="@Model.UtilisateurId" role="button">Ajouter un client</a>
            <a class="menuLink" asp-controller="Administrateur" asp-action="AjoutGestionnaire" asp-route-IdAdministrateur="@Model.UtilisateurId" role="button">Ajouter un commercial</a>
        </div>
    </nav>

    @RenderBody()
</body>
</html>